In [1]:
import pandas as pd
import numpy as np

c:\Users\giuli\anaconda3\lib\site-packages\pandas\core\arrays\masked.py:60: UserWarning: Pandas requires version '1.3.6' or newer of 'bottleneck' (version '1.3.5' currently installed).
  from pandas.core import (

In [2]:
data_01 = pd.read_excel('pnas.2111920118.sd01.xlsx', header=1, index_col=0)
data_01

,Unnamed: 1,Bisulfite conversion rate,Coverage,Depth,Bisulfite conversion rate.1,Coverage.1,Depth.1,Bisulfite conversion rate.2,Coverage.2,Depth.2,Bisulfite conversion rate.3,Coverage.3,Depth.3
1,HC,0.996512,0.930774,12.938460,0.996427,0.929601,17.736396,0.995716,0.929011,15.337275,0.996680,0.927372,13.229731
2,HC,0.996372,0.930213,17.840417,0.996214,0.929735,17.822934,0.995485,0.929513,16.006528,0.996716,0.929211,16.705444
3,HC,0.996646,0.930228,17.773436,0.996185,0.928996,16.137003,0.995200,0.930783,19.982329,0.996675,0.929492,16.934506
4,HC,0.996599,0.930274,18.368304,0.996369,0.926824,12.071238,0.995258,0.929191,16.832175,0.996455,0.928490,13.884959
5,HC,0.996699,0.929747,17.377918,0.996125,0.929457,15.147257,0.995298,0.929502,16.636607,0.996767,0.929995,19.246635
6,HC,0.996768,0.932192,23.408974,0.996068,0.928345,12.632632,0.995264,0.930080,14.346573,0.996661,0.928186,14.603209
7,HC,0.996947,0.929685,15.971407,0.995900,0.925510,9.288985,0.996674,0.929717,15.750571,0.996651,0.929517,14.622796
8,HC,0.996898,0.928607,13.548486,0.996175,0.926523,10.525559,0.996554,0.929193,14.511543,0.996471,0.927907,13.028801
9,HC,0.996820,0.930086,16.368358,0.996251,0.927231,10.924250,0.996321,0.930720,16.527435,0.996473,0.930439,17.994847
10,HC,0.996613,0.931072,19.442724,0.996034,0.931463,22.572802,0.996316,0.930101,15.576498,0.996176,0.926703,12.642628
11,HC,0.992790,0.931186,21.812578,0.992614,0.929490,17.864039,0.995146,0.930830,22.355377,NaN,NaN,NaN
12,HC,0.992276,0.930920,20.684043,0.992878,0.930062,18.524907,0.994130,0.930743,22.457742,NaN,NaN,NaN
13,MS,0.996657,0.930324,17.984730,0.996089,0.929900,17.037665,0.995197,0.929483,17.773411,0.996676,0.928924,13.923285
14,MS,0.996421,0.930266,17.007209,0.996215,0.927086,12.921820,0.995429,0.928552,14.450575,0.996626,0.930401,19.157674
15,MS,0.996751,0.929358,15.815312,0.996331,0.929285,17.466062,0.995302,0.929864,17.509609,0.996735,0.928064,13.641882
16,MS,0.996621,0.929229,14.935193,0.996349,0.928237,15.905936,0.995421,0.928881,15.297445,0.996731,0.928808,14.776338
17,MS,0.996392,0.932610,17.597547,0.995547,0.927965,11.978888,0.995145,0.930084,16.360045,0.996540,0.929433,13.759318
18,MS,0.996307,0.930577,17.614616,0.996092,0.928760,14.499343,0.996527,0.930348,19.074713,0.996573,0.928718,18.022715
19,MS,0.996981,0.929295,17.214503,0.996256,0.926172,10.464970,0.996594,0.928684,13.447240,0.996566,0.929728,15.503118
20,MS,0.996710,0.922257,14.359057,0.995961,0.930695,21.827001,0.996219,0.928476,16.014446,0.996145,0.929053,14.34867
21,MS,0.996754,0.932096,22.130655,0.996055,0.931234,21.268408,0.996295,0.931816,21.958528,0.996179,0.930957,17.721097
22,MS,0.996639,0.931700,20.930679,0.996163,0.932225,25.893131,0.996298,0.927625,13.011789,0.996193,0.930103,16.548737
23,MS,0.996683,0.928091,12.334372,0.996116,0.932101,24.070397,0.996206,0.930190,17.322049,0.996479,0.928764,14.777348
24,MS,0.996612,0.928926,16.109173,0.996021,0.926278,10.361054,0.996066,0.930444,18.788448,0.996112,0.928960,15.959209
25,MS,0.992730,0.931406,21.083396,0.992964,0.929582,17.804908,0.994687,0.925624,13.022314,NaN,NaN,NaN
26,MS,0.995303,0.929025,17.604515,0.992786,0.929825,17.913527,0.994813,0.927596,14.005527,NaN,NaN,NA
27,MS,0.992636,0.930224,18.606838,0.991778,0.924419,13.320239,0.995546,0.928420,16.123715,NaN,NaN,NaN
28,MS,0.992662,0.931293,21.928787,0.993317,0.930030,17.789350,0.995349,0.928532,15.572215,NaN,NaN,NaN
29,MS,0.992985,0.927435,12.558216,0.993369,0.930563,20.125712,0.995572,0.928229,14.886060,NaN,NaN,NaN

In [3]:
data_02 = pd.read_excel('pnas.2111920118.sd02.xlsx')
data_02

   Sample ID Group  Bisulfite conversion rate  Coverage      Depth
0       HC-1    HC                   0.995716  0.929206  15.736371
1       HC-2    HC                   0.995485  0.929513  16.006528
2       HC-3    HC                   0.995200  0.930783  19.982329
3       HC-4    HC                   0.995258  0.929191  16.832175
4       HC-5    HC                   0.995298  0.929502  16.636607
5       HC-6    HC                   0.995264  0.930080  14.346573
6       HC-7    HC                   0.996674  0.929717  15.750571
7       HC-8    HC                   0.996554  0.929193  14.511543
8       HC-9    HC                   0.996321  0.930720  16.527435
9      HC-10    HC                   0.996316  0.930101  15.576498
10     HC-11    HC                   0.995146  0.930830  22.355377
11     HC-12    HC                   0.994130  0.930743  22.457742
12     HC-13    HC                   0.992355  0.926394  10.391535
13     HC-14    HC                   0.992748  0.926473  10.187587
14     HC-15    HC                   0.994182  0.925834   9.406651
15     HC-16    HC                   0.995444  0.927235  11.569384
16     HC-17    HC                   0.995469  0.926792  10.560540
17     HC-18    HC                   0.996137  0.927140  10.581697
18     HC-19    HC                   0.995572  0.929846  16.535056
19     HC-20    HC                   0.995508  0.930034  15.527802
20     HC-21    HC                   0.995096  0.929774  15.519757
21     HC-22    HC                   0.994387  0.930242  16.043092
22     HC-23    HC                   0.994635  0.930027  15.563786
23     HC-24    HC                   0.994710  0.929430  14.787978
24      MS-1    MS                   0.995197  0.929483  17.773411
25      MS-2    MS                   0.995429  0.928552  14.450575
26      MS-3    MS                   0.995302  0.929864  17.509609
27      MS-4    MS                   0.995419  0.929271  16.134690
28      MS-5    MS                   0.995145  0.930084  16.360045
29      MS-6    MS                   0.996527  0.930348  19.074713
30      MS-7    MS                   0.996594  0.928684  13.447240
31      MS-8    MS                   0.996219  0.928476  16.014446
32      MS-9    MS                   0.996295  0.931816  21.958528
33     MS-10    MS                   0.996298  0.927625  13.011789
34     MS-11    MS                   0.996206  0.930190  17.322049
35     MS-12    MS                   0.996066  0.930444  18.788448
36     MS-13    MS                   0.994687  0.925624  13.022314
37     MS-14    MS                   0.994813  0.927596  14.005527
38     MS-15    MS                   0.995546  0.928420  16.123715
39     MS-16    MS                   0.995349  0.928532  15.572215
40     MS-17    MS                   0.995572  0.928229  14.886060
41     MS-18    MS                   0.995828  0.926327  10.210302
42     MS-19    MS                   0.996110  0.927709  12.458151
43     MS-20    MS                   0.995342  0.926395  10.736239
44     MS-21    MS                   0.995563  0.927048  11.156173
45     MS-22    MS                   0.995760  0.928579  12.637373
46     MS-23    MS                   0.995999  0.927195  10.727717
47     MS-24    MS                   0.995630  0.929874  14.777576
48     MS-25    MS                   0.995670  0.930385  16.597375
49     MS-26    MS                   0.994624  0.930171  15.797287
50     MS-27    MS                   0.994782  0.930741  17.314463
51     MS-28    MS                   0.994965  0.929931  15.496770
52     MS-29    MS                   0.994669  0.929593  15.578220

In [4]:
data_03 = pd.read_excel('pnas.2111920118.sd03.xlsx')
data_03

,Sample ID,Group,Dataset,Age,Gender,EDSS,Brain lesion burden,Brain Gd
0,HC-1,HC,1.0,58.0,F,NaN,NaN,NaN
1,HC-2,HC,1.0,58.0,F,NaN,NaN,NaN
2,HC-3,HC,1.0,31.0,F,NaN,NaN,NaN
3,HC-4,HC,1.0,31.0,F,NaN,NaN,NaN
4,HC-5,HC,1.0,25.0,F,NaN,NaN,NaN
5,HC-6,HC,1.0,54.0,F,NaN,NaN,NaN
6,HC-7,HC,1.0,23.0,F,NaN,NaN,NaN
7,HC-8,HC,1.0,50.0,F,NaN,NaN,NaN
8,HC-9,HC,1.0,58.0,F,NaN,NaN,NaN
9,HC-10,HC,1.0,33.0,F,NaN,NaN,NaN
10,HC-11,HC,1.0,33.0,F,NaN,NaN,NaN
11,HC-12,HC,1.0,22.0,F,NaN,NaN,NaN
12,HC-13,HC,2.0,46.0,F,NaN,NaN,NaN
13,HC-14,HC,2.0,27.0,F,NaN,NaN,NaN
14,HC-15,HC,2.0,32.0,F,NaN,NaN,NaN
15,HC-16,HC,2.0,27.0,F,NaN,NaN,NaN
16,HC-17,HC,2.0,40.0,F,NaN,NaN,NaN
17,HC-18,HC,2.0,27.0,F,NaN,NaN,NaN
18,HC-19,HC,2.0,39.0,F,NaN,NaN,NaN
19,HC-20,HC,2.0,25.0,F,NaN,NaN,NaN
20,HC-21,HC,2.0,28.0,F,NaN,NaN,NaN
21,HC-22,HC,2.0,28.0,F,NaN,NaN,NaN
22,HC-23,HC,2.0,45.0,F,NaN,NaN,NaN
23,HC-24,HC,2.0,47.0,F,NaN,NaN,NaN
24,MS-1,MS,1.0,56.0,F,2.0,2.0,-
25,MS-2,MS,1.0,43.0,F,2.0,2.0,-
26,MS-3,MS,1.0,36.0,F,2.0,1.0,-
27,MS-4,MS,1.0,54.0,F,2.0,2.0,+
28,MS-5,MS,1.0,42.0,F,3.0,2.0,-
29,MS-6,MS,1.0,43.0,F,3.0,2.0,-
30,MS-7,MS,1.0,39.0,F,1.5,3.0,+
31,MS-8,MS,1.0,35.0,F,1.5,3.0,+
32,MS-9,MS,1.0,33.0,F,1.0,2.0,+
33,MS-10,MS,1.0,36.0,F,1.5,2.0,+
34,MS-11,MS,1.0,41.0,F,2.5,2.0,-
35,MS-12,MS,1.0,20.0,F,2.0,3.0,+
36,MS-13,MS,1.0,36.0,F,2.0,1.0,-
37,MS-14,MS,1.0,40.0,F,3.0,1.0,-
38,MS-15,MS,1.0,25.0,F,2.0,2.0,-
39,MS-16,MS,1.0,32.0,F,1.0,3.0,+
40,MS-17,MS,1.0,50.0,F,4.0,1.0,-
41,MS-18,MS,2.0,55.0,F,2.0,2.0,-
42,MS-19,MS,2.0,32.0,F,1.5,1.0,-
43,MS-20,MS,2.0,30.0,F,2.5,1.0,-
44,MS-21,MS,2.0,49.0,F,2.0,2.0,-
45,MS-22,MS,2.0,21.0,F,1.5,2.0,+
46,MS-23,MS,2.0,31.0,F,3.5,NaN,NaN
47,MS-24,MS,2.0,25.0,F,1.5,1.0,-
48,MS-25,MS,2.0,44.0,F,1.5,2.0,+
49,MS-26,MS,2.0,37.0,F,2.0,1.0,-
50,MS-27,MS,2.0,35.0,F,2.5,2.0,+
51,MS-28,MS,2.0,48.0,F,2.5,1.0,+
52,MS-29,MS,2.0,38.0,F,3.5,3.0,+
53,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
54,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
55,Brain lesion burdern: 0 = 0 lesions; 1 = 0-9 l...,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
data_04 = pd.read_excel('pnas.2111920118.sd04.xlsx')
data_04

     Hypo-DMR assigned genes Hyper-DMR assigned genes
0                       A1BG                     A1BG
1                     A4GALT                    ABCC4
2                       AACS                    ABCG1
3                    AADACL2                   ADAM17
4                       AAK1                  ADAMTS9
...                      ...                      ...
5252                  ZSWIM6                      NaN
5253                  ZWILCH                      NaN
5254                   ZWINT                      NaN
5255                  ZYG11A                      NaN
5256                   ZZEF1                      NaN

[5257 rows x 2 columns]

In [6]:
data_05 = pd.read_excel('pnas.2111920118.sd05.xlsx')
data_05

   Transcription factors  P-value
0                   BATF        0
1                   JUNB        0
2                   ATF3        0
3                  MEF2A        0
4                   IRF3        0
5                  MEF2B        0
6                  MEF2C        0
7                   IRF4        0
8                   USF2        0
9                   PAX5        0
10                  MAFK        0
11                 BACH1        0
12                   MAX        0
13                  ATF7        0
14                  PAX8        0
15                  ZEB1        0

In [7]:
data_06 = pd.read_excel('pnas.2111920118.sd06.xlsx')
data_06

,Factor,P-value,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,up2k,up1.5k,up1k,up0.5k,hyper-DMRs,down0.5k,down1k,down1.5k,down2k
1,EWS:ERG,1,1,1,1,0.001,1,1,1,1
2,HOXC9,0.1,1,1,1,0.001,0.01,1,1,1
3,SCL,1,1,1,1,0.001,1,0.1,1,1
4,ASCL1,0.1,1,1,1,0.01,1,1,1,1
5,ATOH1,1,1,1,1,0.01,1,1,1,1
6,CMYC,1,1,1,0.1,0.01,1,1,1,1
7,DUX,1,1,1,1,0.01,1,1,1,1
8,ER71,1,1,1,1,0.01,1,1,1,1
9,ERG,1,1,1,1,0.01,1,1,1,1
10,ETS1,1,1,1,1,0.01,1,1,1,1
11,ETV1,1,1,1,1,0.01,1,1,1,1
12,EWS:FLI1,1,1,1,1,0.01,1,1,1,1
13,FLI,1,1,1,1,0.01,1,1,1,1
14,MYF5,0.1,1,1,1,0.01,1,0.1,1,1
15,MYOD,0.1,1,1,0.1,0.01,1,1,1,1
16,MYOG,0.1,1,1,0.1,0.01,1,1,1,0.1
17,PAX7,1,1,1,1,0.01,1,1,1,1
18,POLII,1,1,1,1,0.01,1,1,1,1
19,PPARG,1,1,1,1,0.01,1,1,1,1
20,RUNX2,1,1,1,1,0.01,1,1,1,1
21,TCF12,0.01,1,1,0.1,0.01,1,0.1,1,1
22,TWIST2,0.1,1,1,0.1,0.01,1,1,1,1

In [8]:
data_07 = pd.read_excel('pnas.2111920118.sd07.xlsx')
data_07

,TSS-proximal DMR-coupled genes,TSS-dital-10k DMR-coupled genes,TSS-dital-100k DMR-coupled genes
0,IL12RB1,GRAP2,TNIP3
1,RUNX3,RUNX3,TUBD1
2,CARD11,ZBTB38,ERG
3,GRB2,GGA3,TMEM39A
4,ZPBP2,NPAS1,RUNX3
...,...,...,...
71,NaN,NaN,FOXP1
72,NaN,NaN,TCF7
73,NaN,NaN,EPS15L1
74,NaN,NaN,PTPN13
75,NaN,NaN,POU5F1B

In [9]:
# read data
data_08 = pd.read_excel('pnas.2111920118.sd08.xlsx')
data_08

     Gene name     logFC    logCPM       P value       FDR
0     ARHGAP31  0.819578  4.471801  9.720000e-05  0.006011
1        TRIB1  1.508544  6.125172  9.500000e-05  0.005918
2         E2F2  1.757939  3.132182  9.460000e-06  0.001635
3       TAPBPL  0.625243  4.549739  9.110000e-05  0.005695
4        MYO1D  1.491649  4.945613  9.100000e-07  0.000398
..         ...       ...       ...           ...       ...
542      APBB1 -0.695130  4.786609  1.269600e-04  0.007116
543       H1-3 -2.155091  1.245875  1.258320e-04  0.007116
544       BEX4 -0.709985  4.886337  1.213630e-04  0.007106
545  SECISBP2L -0.581726  7.028738  1.190150e-04  0.006997
546       RCN2 -0.687891  5.345495  1.018960e-04  0.006207

[547 rows x 5 columns]

In [10]:
data_09 = pd.read_excel('pnas.2111920118.sd09.xlsx')
data_09

,GroupID,Category,Term,Description,LogP,Log(q-value),InTerm_InList,Genes,Symbols
0,1_Summary,GO Biological Processes,GO:0006958,"complement activation, classical pathway",-48.304348,-44.107481,46/141,"1191,3493,3494,3500,3501,3503,3514,3538,3539,2...","CLU,IGHA1,IGHA2,IGHG1,IGHG2,IGHG4,IGKC,IGLC2,I..."
1,1_Member,GO Biological Processes,GO:0006958,"complement activation, classical pathway",-48.304348,-44.107481,46/141,"1191,3493,3494,3500,3501,3503,3514,3538,3539,2...","CLU,IGHA1,IGHA2,IGHG1,IGHG2,IGHG4,IGKC,IGLC2,I..."
2,1_Member,GO Biological Processes,GO:0002455,humoral immune response mediated by circulatin...,-47.484893,-43.589056,47/156,"1191,3493,3494,3500,3501,3503,3514,3538,3539,9...","CLU,IGHA1,IGHA2,IGHG1,IGHG2,IGHG4,IGKC,IGLC2,I..."
3,1_Member,GO Biological Processes,GO:0016064,immunoglobulin mediated immune response,-43.441447,-39.721701,50/223,"939,1191,3493,3494,3500,3501,3503,3514,3538,35...","CD27,CLU,IGHA1,IGHA2,IGHG1,IGHG2,IGHG4,IGKC,IG..."
4,1_Member,GO Biological Processes,GO:0019724,B cell mediated immunity,-43.130850,-39.536043,50/226,"939,1191,3493,3494,3500,3501,3503,3514,3538,35...","CD27,CLU,IGHA1,IGHA2,IGHG1,IGHG2,IGHG4,IGKC,IG..."
...,...,...,...,...,...,...,...,...,...
292,19_Summary,GO Biological Processes,GO:0007219,Notch signaling pathway,-3.959462,-1.932857,11/186,"3559,5087,5584,6772,7471,8470,8626,9787,64065,...","IL2RA,PBX1,PRKCI,STAT1,WNT1,SORBS2,TP63,DLGAP5..."
293,19_Member,GO Biological Processes,GO:0007219,Notch signaling pathway,-3.959462,-1.932857,11/186,"3559,5087,5584,6772,7471,8470,8626,9787,64065,...","IL2RA,PBX1,PRKCI,STAT1,WNT1,SORBS2,TP63,DLGAP5..."
294,19_Member,GO Biological Processes,GO:0007221,positive regulation of transcription of Notch ...,-2.653534,-0.908453,3/18,"5087,6772,9787","PBX1,STAT1,DLGAP5"
295,20_Summary,GO Biological Processes,GO:1904587,response to glycoprotein,-3.769281,-1.765539,3/8,"4121,7253,80267","MAN1A1,TSHR,EDEM3"
296,20_Member,GO Biological Processes,GO:1904587,response to glycoprotein,-3.769281,-1.765539,3/8,"4121,7253,80267","MAN1A1,TSHR,EDEM3"

In [11]:
data_10 = pd.read_excel('pnas.2111920118.sd10.xlsx')
data_10

,GroupID,Category,Term,Description,LogP,Log(q-value),InTerm_InList,Genes,Symbols
0,1_Summary,GO Biological Processes,GO:0006334,nucleosome assembly,-6.432346,-2.246902,8/145,"3006,3007,3008,3017,8339,8349,8971,440689,3012...","H1-2,H1-3,H1-4,H2BC5,H2BC8,H2BC21,H1-10,H2BC18..."
1,1_Member,GO Biological Processes,GO:0006334,nucleosome assembly,-6.432346,-2.246902,8/145,"3006,3007,3008,3017,8339,8349,8971,440689","H1-2,H1-3,H1-4,H2BC5,H2BC8,H2BC21,H1-10,H2BC18"
2,1_Member,GO Biological Processes,GO:0016584,nucleosome positioning,-6.133274,-2.246902,4/16,"3006,3007,3008,8971","H1-2,H1-3,H1-4,H1-10"
3,1_Member,GO Biological Processes,GO:0031497,chromatin assembly,-5.966648,-2.246902,8/167,"3006,3007,3008,3017,8339,8349,8971,440689","H1-2,H1-3,H1-4,H2BC5,H2BC8,H2BC21,H1-10,H2BC18"
4,1_Member,GO Biological Processes,GO:0031936,negative regulation of chromatin silencing,-5.809595,-2.214788,4/19,"3006,3007,3008,8971","H1-2,H1-3,H1-4,H1-10"
...,...,...,...,...,...,...,...,...,...
135,19_Member,GO Biological Processes,GO:0044089,positive regulation of cellular component biog...,-2.373029,-0.037347,8/557,"19,5290,8027,8739,9026,54413,54922,123720","ABCA1,PIK3CA,STAM,HRK,HIP1R,NLGN3,RASIP1,WHAMM"
136,19_Member,GO Biological Processes,GO:0043254,regulation of protein complex assembly,-2.112964,0.000000,7/492,"19,5494,8739,9026,54922,90952,123720","ABCA1,PPM1A,HRK,HIP1R,RASIP1,ESAM,WHAMM"
137,20_Summary,GO Biological Processes,GO:0007050,cell cycle arrest,-2.325913,-0.021141,5/236,"322,323,5494,9337,123720,3087,7159,10950","APBB1,APBB2,PPM1A,CNOT8,WHAMM,HHEX,TP53BP2,BTG3"
138,20_Member,GO Biological Processes,GO:0007050,cell cycle arrest,-2.325913,-0.021141,5/236,"322,323,5494,9337,123720","APBB1,APBB2,PPM1A,CNOT8,WHAMM"
139,20_Member,GO Biological Processes,GO:0045786,negative regulation of cell cycle,-2.073825,0.000000,8/627,"322,323,3087,5494,7159,9337,10950,123720","APBB1,APBB2,HHEX,PPM1A,TP53BP2,CNOT8,BTG3,WHAMM"

In [12]:
data_11 = pd.read_excel('pnas.2111920118.sd11.xlsx')
data_11

,Gene_name,GeneDesc,Function,Modification,Target,Specific_target,Product
0,HJURP,#,Histone chaperone,#,histone,H4,#
1,RNF168,RING-type (C3HC4) zinc fingers,Histone modification write,Histone ubiquitination,histone,"H2AK13, H2AK15, H2AXK13, H2AXK15","H2AK13ub, H2AK15ub, H2AXK13ub, H2AXK15ub"
2,TTK,#,Histone modification write cofactor,Histone phosphorylation,histone,H2AT120,H2AT120ph
3,PRDM1,"Zinc fingers, C2H2-type",Histone modification write cofactor,Histone methylation,histone,H3K9,H3K9me
4,GFI1B,"Zinc fingers, C2H2-type",Histone modification cofactor,#,#,#,#
5,VDR,Nuclear hormone receptors,"Chromatin remodeling cofactor, TF",#,histone,"H2BK12ac, H3K14ac, H4K16ac",#
6,CIT,#,"Histone modification write cofactor, Histone m...","Histone methylation, Histone phosphorylation",histone,H3K9,H3K9me
7,AURKB,Serine/threonine phosphatases / Protein phosph...,Histone modification write,Histone phosphorylation,histone,"H3S10, H3S28",#
8,CDC6,#,Chromatin remodeling,#,chromatin,#,#
9,TOP2A,#,Chromatin remodeling,#,DNA,DNA,#
10,KEAP1,"Kelch-like, ""BTB/POZ domain containing""",Chromatin remodeling,#,chromatin,#,#
11,ASF1B,#,Histone chaperone,#,histone,"H3, H4",#
12,APOBEC3B,Apolipoprotein B mRNA editing enzymes,"DNA modification, RNA modification","DNA demethylation, mRNA editing","DNA, RNA","ssDNA, mRNA, mC",dhU
13,KDM5B,"Chromatin-modifying enzymes / K-demethylases, ...",Histone modification erase,Histone methylation,histone,H3K4me3,H3K4
14,SETD7,Chromatin-modifying enzymes / K-methyltransfer...,Histone modification write,Histone methylation,histone,H3K4,H3K4me1
15,APBB1,#,Histone modification,#,histone,H2AX,#
16,FOXO1,Forkhead boxes,TF,#,"histone, DNA","DNA motif, H3, H4",#

In [13]:
data_12 = pd.read_excel('pnas.2111920118.sd12.xlsx')
data_12

,GroupID,Category,Term,Description,LogP,Log(q-value),InTerm_InList,Genes,Symbols
0,1_Summary,GO Biological Processes,GO:0046649,lymphocyte activation,-4.317160,-0.543740,11/754,"639,939,2175,3688,6693,8324,23495,23705,51237,...","PRDM1,CD27,FANCA,ITGB1,SPN,FZD7,TNFRSF13B,CADM..."
1,1_Member,GO Biological Processes,GO:0046649,lymphocyte activation,-4.317160,-0.543740,11/754,"639,939,2175,3688,6693,8324,23495,23705,51237,...","PRDM1,CD27,FANCA,ITGB1,SPN,FZD7,TNFRSF13B,CADM..."
2,1_Member,GO Biological Processes,GO:0030217,T cell differentiation,-3.719172,-0.543740,6/246,"639,939,2175,6693,8324,64218","PRDM1,CD27,FANCA,SPN,FZD7,SEMA4A"
3,1_Member,GO Biological Processes,GO:0030098,lymphocyte differentiation,-3.666057,-0.543740,7/358,"639,939,2175,3688,6693,8324,64218","PRDM1,CD27,FANCA,ITGB1,SPN,FZD7,SEMA4A"
4,1_Member,GO Biological Processes,GO:0002521,leukocyte differentiation,-3.382330,-0.539877,8/526,"639,939,2175,3688,6693,8324,10221,64218","PRDM1,CD27,FANCA,ITGB1,SPN,FZD7,TRIB1,SEMA4A"
...,...,...,...,...,...,...,...,...,...
164,19_Member,GO Biological Processes,GO:0030278,regulation of ossification,-2.254557,-0.041364,4/209,"860,5087,5552,6096","RUNX2,PBX1,SRGN,RORB"
165,20_Summary,GO Biological Processes,GO:0016485,protein processing,-2.234065,-0.041364,5/338,"1191,2903,4241,5552,90701,1509,10221,10257","CLU,GRIN2A,MELTF,SRGN,SEC11C,CTSD,TRIB1,ABCC4"
166,20_Member,GO Biological Processes,GO:0016485,protein processing,-2.234065,-0.041364,5/338,"1191,2903,4241,5552,90701","CLU,GRIN2A,MELTF,SRGN,SEC11C"
167,20_Member,GO Biological Processes,GO:0045862,positive regulation of proteolysis,-2.035290,0.000000,5/378,"1191,1509,2903,4241,10221","CLU,CTSD,GRIN2A,MELTF,TRIB1"
168,20_Member,GO Biological Processes,GO:0002576,platelet degranulation,-2.027199,0.000000,3/128,"1191,5552,10257","CLU,SRGN,ABCC4"

In [14]:
data_13 = pd.read_excel('pnas.2111920118.sd13.xlsx')
data_13

  Cytokines HC Mean+/-SD (pg/mL) MS Mean+/-SD (pg/mL)  P-value (MS vs HC)
0     TRAIL        76.63+/-25.83        82.18+/-27.87              0.5250
1      BAFF       259.66+/-40.73       241.36+/-47.18              0.3424
2       IL6        21.92+/-70.82          1.66+/-3.52              0.7113
3      IL10          0.82+/-0.57          2.11+/-4.81              0.4027

In [15]:
data_14 = pd.read_excel('pnas.2111920118.sd14.xlsx')
data_14

               Name      Sequence (5'>3')
0  pSEMA4A for       GCCCCAGACTCATGGTGCCT
1   pSEMA4A rev      GTCAGCTGGGGCCCATTCCT
2  pPRDM1 for        GCTTTGATGAAGCCACATGT
3        pPRDM1 rev  ACTTCAGTTCCGATTATGCT
4     pTNFRSF17 for  ACTGTGGATTTTTAAAATGG
5     pTNFRSF17 rev  GAACTTCGCCTGCTTCGTGG
6       pDCAF12 for  GAGCACCTGTAATCTGAGCT
7       pDCAF12 rev  TGACCTGCCATCTAAACCAC
8        pZWINT for  TGAGACGGAGTCTCGCACTG
9        pZWINT rev  CCTAAGATTACTTTGAAGTC