In [1]:
from GSE239626.load_GSE239626 import load_GSE239626

genomic_matrix_df, gene_expression_df, antibody_capture_df, family_phenotype_df = load_GSE239626()

In [2]:
gene_expression_df.columns # single cell

Index(['ID', 'symbol', 'expression', 'AAACCCAAGACTGTTC-1',
       'AAACCCAAGGATCATA-1', 'AAACCCAGTTATTCTC-1', 'AAACCCATCATGAGGG-1',
       'AAACGAAAGCCAGTAG-1', 'AAACGAAAGCTGACAG-1', 'AAACGAAAGTAATACG-1',
       ...
       'TTTGGTTAGCTTTCCC-20', 'TTTGGTTGTTTCGACA-20', 'TTTGGTTTCAGACCCG-20',
       'TTTGGTTTCTCATAGG-20', 'TTTGGTTTCTGTAACG-20', 'TTTGTTGAGCGTCGAA-20',
       'TTTGTTGAGTGTACCT-20', 'TTTGTTGCAATTGCAC-20', 'TTTGTTGCATTCAGCA-20',
       'TTTGTTGGTGGGTTGA-20'],
      dtype='object', length=72320)

In [3]:
gene_expression_df.shape

(36601, 72320)

In [4]:
columns = gene_expression_df.columns

for i in range(21): # single cell id
    count = 0
    count = sum(column.endswith(str(i)) for column in columns)
    print('Number of columns that end with ' + str(i) + ': ' + str(count))

Number of columns that end with 0: 7002
Number of columns that end with 1: 8436
Number of columns that end with 2: 8727
Number of columns that end with 3: 5539
Number of columns that end with 4: 6858
Number of columns that end with 5: 6122
Number of columns that end with 6: 7830
Number of columns that end with 7: 6588
Number of columns that end with 8: 6786
Number of columns that end with 9: 8429
Number of columns that end with 10: 3160
Number of columns that end with 11: 2945
Number of columns that end with 12: 2709
Number of columns that end with 13: 2956
Number of columns that end with 14: 3715
Number of columns that end with 15: 2543
Number of columns that end with 16: 3946
Number of columns that end with 17: 2779
Number of columns that end with 18: 3964
Number of columns that end with 19: 3423
Number of columns that end with 20: 3842

In [5]:
for i in range(20, -1, -1):
    suffix = '-' + str(i)
    columns = [col.replace(suffix, '') for col in columns]

In [6]:
duplicates = gene_expression_df.columns.duplicated()
duplicates.sum()

0

subpopulations from MS patients treated with high-dose vitamin D (n=5) or placebo (n=5)

for each pantient, we have:
- GEX (gene expression from polyA RNA) at time J0 (day 0) and M3 (month 3 from start of treatment)
- ADT (from protein) at time J0 and M3

In [10]:
family_phenotype_df.head(2)

                                 title geo_accession  ...  series_id data_row_count
GSM7669046  Patient Placebo N1 J0, GEX    GSM7669046  ...  GSE239626              0
GSM7669047  Patient Placebo N1 J0, ADT    GSM7669047  ...  GSE239626              0

[2 rows x 35 columns]

In [7]:
family_phenotype_df.columns

Index(['title', 'geo_accession', 'status', 'submission_date',
       'last_update_date', 'type', 'channel_count', 'source_name_ch1',
       'organism_ch1', 'taxid_ch1', 'characteristics_ch1.0.tissue',
       'characteristics_ch1.1.cell line', 'characteristics_ch1.2.cell type',
       'characteristics_ch1.3.treatment', 'characteristics_ch1.4.time',
       'characteristics_ch1.5.library type', 'molecule_ch1',
       'extract_protocol_ch1', 'description', 'data_processing', 'platform_id',
       'contact_name', 'contact_institute', 'contact_address', 'contact_city',
       'contact_zip/postal_code', 'contact_country', 'instrument_model',
       'library_selection', 'library_source', 'library_strategy', 'relation',
       'supplementary_file_1', 'series_id', 'data_row_count'],
      dtype='object')

In [8]:
family_phenotype_df[['type', 'channel_count', 'source_name_ch1',
    'organism_ch1', 'taxid_ch1', 'characteristics_ch1.0.tissue',
    'characteristics_ch1.1.cell line', 'characteristics_ch1.2.cell type',
    'characteristics_ch1.3.treatment', 'characteristics_ch1.4.time',
    'characteristics_ch1.5.library type', 'molecule_ch1',
    'extract_protocol_ch1', 'description', 'data_processing', 'platform_id']].describe()

       type  ... platform_id
count    40  ...          40
unique    1  ...           1
top     SRA  ...    GPL24676
freq     40  ...          40

[4 rows x 16 columns]

In [9]:
family_phenotype_df['description'][0], family_phenotype_df['description'][1]

C:\Users\giuli\AppData\Local\Temp\ipykernel_2616\76071900.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  family_phenotype_df['description'][0], family_phenotype_df['description'][1]

('GEX (3\'mRNA) library : read1 contains cell barcode and UMI; read2 file contains transcript,suffix "-1" in barcodes.tsv.gz',
 'ADT: read1 contains cell barcode and UMI; read2 file contains Antibody Derived Tag reads,suffix "-1" in barcodes.tsv.gz')

In [11]:
family_phenotype_df[['title', 'geo_accession', 'data_row_count']].describe()

                             title geo_accession data_row_count
count                           40            40             40
unique                          40            40              1
top     Patient Placebo N1 J0, GEX    GSM7669046              0
freq                             1             1             40