In [48]:
import numpy as np
import pandas as pd
import scanpy as sc
import anndata as ad

In [2]:
with open('matrix_list.txt', 'r') as file:
    content = file.read()

In [36]:
content_list = content.split("\n")
grouped_list = [content_list[i:i+3] for i in range(0, len(content_list), 3)]

In [43]:
samples_prefixes = [sample[0].split("_")[1] for sample in grouped_list[::2]]

In [44]:
samples_prefixes = [f'{sample}_CSF_' for sample in samples_prefixes] + [f'{sample}_PBMC_' for sample in samples_prefixes]

In [46]:
adatas = {}
for (barcode, feature, matrix), prefix in zip(grouped_list, samples_prefixes):
    adatas[prefix] = sc.read_10x_mtx(
        '../GSE194078/MTX',
        var_names='gene_symbols',
        gex_only=False, 
        cache=True,
        prefix=prefix)

In [52]:
ad.concat([adatas['CYG_CSF_'], adatas['CYG_PBMC_']]).obs

/Users/nicolapitzalis/anaconda3/envs/chl/lib/python3.9/site-packages/anndata/_core/anndata.py:1818: UserWarning: Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
  utils.warn_names_duplicates("obs")

Empty DataFrame
Columns: []
Index: [AAACCCACAAGACCGA-1, AAACCCACACGGCACT-1, AAACCCATCAGAATAG-1, AAACGAAAGGTAAAGG-1, AAACGAACACAGCCAC-1, AAACGAATCACTCCGT-1, AAACGCTTCAGCTGTA-1, AAAGAACAGCGACTGA-1, AAAGGATGTAGCTTAC-1, AAAGGATGTATCCTCC-1, AAAGGATGTTACTCAG-1, AAAGGGCTCGAGGCAA-1, AAAGGTACAGCTGTCG-1, AAAGGTACATGGGAAC-1, AAAGTCCAGAGTGAAG-1, AAAGTCCAGGTCACAG-1, AAAGTCCGTGTTGATC-1, AAAGTGAAGCGAATGC-1, AAAGTGAAGCGTGTCC-1, AAAGTGACACCAGCTG-1, AAAGTGACAGCAGGAT-1, AAATGGAGTTCTCCAC-1, AACAAAGAGTAAACGT-1, AACAAAGTCGGTCGAC-1, AACAAAGTCTTGGGCG-1, AACAACCAGAGGACTC-1, AACAACCAGCGGTAAC-1, AACAACCAGGTACAGC-1, AACAACCGTACTGCCG-1, AACAACCGTAGGAGTC-1, AACAACCTCCTCGATC-1, AACAAGAGTCCAGCAC-1, AACAAGATCCGATGCG-1, AACACACGTAGGAGGG-1, AACACACTCCTTCTAA-1, AACAGGGCAAGTGATA-1, AACAGGGTCACTGATG-1, AACCAACCATTGACTG-1, AACCAACGTGTCATTG-1, AACCAACTCTGCATAG-1, AACCACAGTGACTGTT-1, AACCACAGTTCTCTAT-1, AACCATGAGGCCTTCG-1, AACCATGAGGTCACTT-1, AACCATGAGTCAAGCG-1, AACCATGCATAATGAG-1, AACCATGTCGGCCTTT-1, AACCTGACACAACCGC-1, AACCTGAGTCCAAGAG-1, AACCTTTAGTCGCTAT-1, AACCTTTTCTGAGATC-1, AACGAAAAGAGGTGCT-1, AACGAAAAGCTATCCA-1, AACGAAATCGCAGTCG-1, AACGGGAAGCATTTGC-1, AACGGGACAACAAAGT-1, AACGGGATCATTTCGT-1, AACGTCAAGATGTAGT-1, AACGTCAAGTAGTCAA-1, AACGTCAAGTCCTGTA-1, AACTTCTAGGGAGGGT-1, AACTTCTGTCCTGTCT-1, AACTTCTTCATGGAGG-1, AACTTCTTCTCTTGCG-1, AAGAACAGTAGCGTTT-1, AAGAACATCTGTAAGC-1, AAGACAACATCGTGCG-1, AAGACAAGTACGCGTC-1, AAGACAAGTATAATGG-1, AAGACAATCCTTCGAC-1, AAGACTCAGCTTTCTT-1, AAGACTCCACTCTGCT-1, AAGATAGAGGCTTAAA-1, AAGATAGCAATGTCAC-1, AAGATAGGTTGTCCCT-1, AAGCATCAGTGATCGG-1, AAGCATCCAAGGTCTT-1, AAGCATCGTGTCGATT-1, AAGCCATCAGTGCCTG-1, AAGCCATGTAGATTAG-1, AAGCCATTCTGTCGTC-1, AAGCCATTCTTCGCTG-1, AAGCGAGCAATACCTG-1, AAGCGAGCAATCTAGC-1, AAGCGAGCAGTACTAC-1, AAGCGTTCAGACGCTC-1, AAGCGTTTCGTGGTAT-1, AAGCGTTTCTATTCGT-1, AAGGAATCAAAGCACG-1, AAGGAATTCGAGATGG-1, AAGGTAACACCATTCC-1, AAGTACCAGCCTGAAG-1, AAGTCGTGTCCAACGC-1, AAGTCGTGTCGTCGGT-1, AAGTCGTTCAGACTGT-1, AAGTCGTTCCCATACC-1, AAGTGAATCGGATTAC-1, AAGTTCGGTCCCGTGA-1, AATAGAGCATGAGAAT-1, AATAGAGTCCGAGGCT-1, ...]

[11169 rows x 0 columns]

In [56]:
a = ad.concat([adatas['CYG_CSF_'], adatas['CYG_PBMC_']])

/Users/nicolapitzalis/anaconda3/envs/chl/lib/python3.9/site-packages/anndata/_core/anndata.py:1818: UserWarning: Observation names are not unique. To make them unique, call `.obs_names_make_unique`.
  utils.warn_names_duplicates("obs")

In [58]:
a.obs_names_make_unique()

In [59]:
a.obs

Empty DataFrame
Columns: []
Index: [AAACCCACAAGACCGA-1, AAACCCACACGGCACT-1, AAACCCATCAGAATAG-1, AAACGAAAGGTAAAGG-1, AAACGAACACAGCCAC-1, AAACGAATCACTCCGT-1, AAACGCTTCAGCTGTA-1, AAAGAACAGCGACTGA-1, AAAGGATGTAGCTTAC-1, AAAGGATGTATCCTCC-1, AAAGGATGTTACTCAG-1, AAAGGGCTCGAGGCAA-1, AAAGGTACAGCTGTCG-1, AAAGGTACATGGGAAC-1, AAAGTCCAGAGTGAAG-1, AAAGTCCAGGTCACAG-1, AAAGTCCGTGTTGATC-1, AAAGTGAAGCGAATGC-1, AAAGTGAAGCGTGTCC-1, AAAGTGACACCAGCTG-1, AAAGTGACAGCAGGAT-1, AAATGGAGTTCTCCAC-1, AACAAAGAGTAAACGT-1, AACAAAGTCGGTCGAC-1, AACAAAGTCTTGGGCG-1, AACAACCAGAGGACTC-1, AACAACCAGCGGTAAC-1, AACAACCAGGTACAGC-1, AACAACCGTACTGCCG-1, AACAACCGTAGGAGTC-1, AACAACCTCCTCGATC-1, AACAAGAGTCCAGCAC-1, AACAAGATCCGATGCG-1, AACACACGTAGGAGGG-1, AACACACTCCTTCTAA-1, AACAGGGCAAGTGATA-1, AACAGGGTCACTGATG-1, AACCAACCATTGACTG-1, AACCAACGTGTCATTG-1, AACCAACTCTGCATAG-1, AACCACAGTGACTGTT-1, AACCACAGTTCTCTAT-1, AACCATGAGGCCTTCG-1, AACCATGAGGTCACTT-1, AACCATGAGTCAAGCG-1, AACCATGCATAATGAG-1, AACCATGTCGGCCTTT-1, AACCTGACACAACCGC-1, AACCTGAGTCCAAGAG-1, AACCTTTAGTCGCTAT-1, AACCTTTTCTGAGATC-1, AACGAAAAGAGGTGCT-1, AACGAAAAGCTATCCA-1, AACGAAATCGCAGTCG-1, AACGGGAAGCATTTGC-1, AACGGGACAACAAAGT-1, AACGGGATCATTTCGT-1, AACGTCAAGATGTAGT-1, AACGTCAAGTAGTCAA-1, AACGTCAAGTCCTGTA-1, AACTTCTAGGGAGGGT-1, AACTTCTGTCCTGTCT-1, AACTTCTTCATGGAGG-1, AACTTCTTCTCTTGCG-1, AAGAACAGTAGCGTTT-1, AAGAACATCTGTAAGC-1, AAGACAACATCGTGCG-1, AAGACAAGTACGCGTC-1, AAGACAAGTATAATGG-1, AAGACAATCCTTCGAC-1, AAGACTCAGCTTTCTT-1, AAGACTCCACTCTGCT-1, AAGATAGAGGCTTAAA-1, AAGATAGCAATGTCAC-1, AAGATAGGTTGTCCCT-1, AAGCATCAGTGATCGG-1, AAGCATCCAAGGTCTT-1, AAGCATCGTGTCGATT-1, AAGCCATCAGTGCCTG-1, AAGCCATGTAGATTAG-1, AAGCCATTCTGTCGTC-1, AAGCCATTCTTCGCTG-1, AAGCGAGCAATACCTG-1, AAGCGAGCAATCTAGC-1, AAGCGAGCAGTACTAC-1, AAGCGTTCAGACGCTC-1, AAGCGTTTCGTGGTAT-1, AAGCGTTTCTATTCGT-1, AAGGAATCAAAGCACG-1, AAGGAATTCGAGATGG-1, AAGGTAACACCATTCC-1, AAGTACCAGCCTGAAG-1, AAGTCGTGTCCAACGC-1, AAGTCGTGTCGTCGGT-1, AAGTCGTTCAGACTGT-1, AAGTCGTTCCCATACC-1, AAGTGAATCGGATTAC-1, AAGTTCGGTCCCGTGA-1, AATAGAGCATGAGAAT-1, AATAGAGTCCGAGGCT-1, ...]

[11169 rows x 0 columns]